:root {
<<<<<<< HEAD
--secondary0__background : #1b1b1d;
--secondary0__foreground : #d9d9dc;
--secondary0__interaction : #2566f2;
=======
--secondary0__background : red;
--secondary0__foreground : green;
--secondary0__interaction : purple;
>>>>>>> 36ba0ce57788675e92854ccdc64be25128d2a1ca
}

.component {
--main-background-color: orange;
--main-text-color: pink;
--interaction-color: lavendar;
background-color: var(--main-background-color);
color: var(--main-text-color);
&--primary{--main-background-color : skyblue;
--main-text-color : #f9f9fb;
--interaction-color : orangered;
}
&--secondary0 {
--main-background-color: var(--secondary0__background);
--main-text-color: var(--secondary0__foreground);
--interaction-color: var(--secondary0__interaction);
}
}

.c-navigation {
<<<<<<< HEAD
--main-background-color: #1B1B1D;
--main-text-color: #D9D9DC;
&--primary {
--main-background-color: var(--primary__background);
--main-text-color: var(--primary__foreground);
--interaction-color: var(--primary__interaction);
}
=======
--main-background-color: teal;
--main-text-color: darkslategray;
>>>>>>> 36ba0ce57788675e92854ccdc64be25128d2a1ca
&--secondary0 {
--main-background-color: var(--secondary0__background);
--main-text-color: var(--secondary0__foreground);
--interaction-color: var(--secondary0__interaction);
}
}

.c-footer {
<<<<<<< HEAD
--main-background-color: #1B1B1D;
--main-text-color: #D9D9DC;
&--primary {
--main-background-color: var(--primary__background);
--main-text-color: var(--primary__foreground);
--interaction-color: var(--primary__interaction);
}
=======
--main-background-color: yellow;
--main-text-color: darkgreen;
>>>>>>> 36ba0ce57788675e92854ccdc64be25128d2a1ca
&--secondary0 {
--main-background-color: var(--secondary0__background);
--main-text-color: var(--secondary0__foreground);
--interaction-color: var(--secondary0__interaction);
}
}

