:root {
--secondary0__background : red;
--secondary0__foreground : green;
--secondary0__interaction : purple;
}

.component {
--main-background-color: orange;
--main-text-color: pink;
--interaction-color: lavendar;
background-color: var(--main-background-color);
color: var(--main-text-color);
&--primary{--main-background-color : skyblue;
--main-text-color : #f9f9fb;
--interaction-color : orangered;
}
&--secondary0 {
--main-background-color: var(--secondary0__background);
--main-text-color: var(--secondary0__foreground);
--interaction-color: var(--secondary0__interaction);
}
}

.c-navigation {
--main-background-color: teal;
--main-text-color: darkslategray;
&--secondary0 {
--main-background-color: var(--secondary0__background);
--main-text-color: var(--secondary0__foreground);
--interaction-color: var(--secondary0__interaction);
}
}

.c-footer {
--main-background-color: yellow;
--main-text-color: darkgreen;
&--secondary0 {
--main-background-color: var(--secondary0__background);
--main-text-color: var(--secondary0__foreground);
--interaction-color: var(--secondary0__interaction);
}
}

